@import "tailwindcss";

:root {
  --background: #0A0A0F; /* main background */
  --foreground: #F5F7FA; /* main text */

  --card-bg: #11121A;
  --card-border: #1F1F2A;

  --heading-color: #F5F7FA;
  --paragraph-color: #A1A1AA;
  --muted-color: #6B7280;

  --accent: #FF7A1A;
  --accent-dark: #FF4F00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card-bg);
  --color-card-border: var(--card-border);

  --color-heading: var(--heading-color);
  --color-paragraph: var(--paragraph-color);
  --color-muted: var(--muted-color);

  --color-accent: var(--accent);
  --color-accent-dark: var(--accent-dark);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
